<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ry.pevggb@tznvy.pbz</string>
	<key>contactName</key>
	<string>critto</string>
	<key>description</key>
	<string>WeiDU script and tp* files.</string>
	<key>name</key>
	<string>WeiDU</string>
	<key>uuid</key>
	<string>9B5C82E9-4C22-4E40-98D3-FE467AFA3618</string>
</dict>
</plist>
